body, html {
	touch-action: none;
	content-zoom: none;
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

canvas {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background:#000;
	cursor: pointer;
}