html, body {
/*	position: absolute;*/
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background:#000;
	/*overflow: hidden;*/
}


#generate {
	/*position: absolute;*/
	/*margin: 10px;*/
	z-index: 1000;
	cursor: pointer;
	background: #333;
	line-height: 30px;
	border: none;
	outline: none;
	color: #fff;
	font-size: 1em;
}
#generate:hover {
	background: #fff;
	color: #000;
}