/*Global*/

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url("https://use.typekit.net/bgw2gie.css");

:lang(en) {font-family: 'industry', sans-≥≥≥≥≥≥≥≥≥≥˘serif;}/.
:lang(ko); {font-family: 'Black Hans Sans', sans-serif;}

html {width:100%;height:100%;overflow:hidden;top:0;left:0;margin:0;padding:0;}
ul {list-style-type: none;}
a:link {color: #fff;}
a:visited {color: #E5E5E5;}
a:hover {color: #BFBFBF;}
a:active {color: #E6E6E6;}
body { color: #fff; font-size: 16px; background:#000000; filter: contrast(200%);}
canvas { display: block;}

.icon {
	height: 60px;
	margin-right: 1rem;
}

.logo img {
	padding: 2rem;
	max-width: 40px;
	display: inline-flex;
    float:left;
    left: 0%;
    top: 0%;
}

#scale {
	padding: 1rem;
	display: inline-flex;
    float:right;
    position: fixed;
    right: 0%;
    bottom: 0%;
}

#bar {
	height: 40px;
}

.caption {
	font-size:3rem;
}
