* { 
  box-sizing: border-box; 
}
html {
  margin: 0;
  background-size: cover;
  background: url("https://intlrail.s3.amazonaws.com/images/underground1.jpg");
  transition: 5s;
}

div#texttop { 
	color: #fff;
	width: 30%;
	margin-top: 5%;
	margin-left: 5%;
	padding: 2rem;
	border: 4px double rgba(255,255,255,0.3);
	background: rgba(0,0,0,0.3);
	font-family: Oxygen, sans-serif;
}

