
body {
    font-family:sans-serif;
    background:#000;
    color:#eeeeee;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: none;
}

a:link {color:#777777;}
a:visited {color:#777777;}
a:hover {color:#999999;}
a:active {color:#ffffff;}

.remark {
    color: #ffffff;
}

.unsafe {
    color : #c86464;
}

#simulation {
    display: flex;
    margin: 0 auto;
    /*border:1px solid;*/
    /*box-shadow: 10px 10px 7px #222;*/
}

    #simulation .viewer {
        width:100vw;
        height:100vh;
    }
    
    /*#simulation aside.panel {
        height:10%;
        display: block;
        vertical-align:top;
        font-size: 9pt;
        background:rgba(0,0,0,0.1);
    }*/
        .panel {
            display: none;
        }

        #simulation .panel header {
            color: #ffffff;
        }
        
    	#simulation .panel .slider {
    		margin: 7px 10px 10px 10px;
    	}
        #simulation .panel section {
            margin-bottom: 15px;
            border-bottom: 1px dotted;
        }
        #simulation .panel section:last-child {
            margin-bottom: 0px;
            border-bottom: 0px;
        }


canvas#myCanvas {
    display:flex;
    flex-grow: 1;
    width:100vw;
    height:100vh;
    margin: auto 0;
    vertical-align:bottom;
    background-color:#101010;
}
