html {
	overflow: hidden;
	font-family: industry, sans-serif;
}
body {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background:#000;
}

canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}



.logo {
    max-height: 3rem;
    /*display: inline-flex;*/
}


#generate {
	float: right;
	position: relative;
	margin: 10px;
	z-index: 1000;
	cursor: pointer;
	background: #fff;
	line-height: 30px;
	border: none;
	outline: none;
	color: #000;
	font-size: 1em;
	border-radius: 4px;
}
#generate:hover {
	background: #fff;
	color: #000;
}

-webkit-filter: brightness(10%) contrast(130%) sepia(20%);